# Enums
Enums represent possible sets of values for a field.

For example, the `Issue` object has a field called `state`. The state is an enum (specifically, of type `IssueState`) because it may be `OPEN` or `CLOSED`.
{{range .}}
## {{.Name}}
{{.Description}}

| Value  | Description               | Deprecated      | Reason |
| --------- | ------------------ | ---------------- | ---------- |
{{range .EnumValues}}| `{{.Name}}` | {{.Description}} | {{if .IsDeprecated}}Yes{{else}}No{{end}} | {{.DeprecationReason}} |
{{end}}{{end}}