# About the GraphQL schema reference

[About the GraphQL](./Home{{ extLinkMarkdown }})

The docs are generated from the server GraphQL schema. All calls are validated and executed against the schema. Use these docs to find out what data you can call:

Allowed operations: [queries](./query/Home{{ extLinkMarkdown }}) and [mutations](./mutation/Home{{ extLinkMarkdown }}).

Schema-defined types: [scalars](./scalar/Home{{ extLinkMarkdown }}), [objects](./object/Home{{ extLinkMarkdown }}), [enums](./enum/Home{{ extLinkMarkdown }}) and [input objects](./input/Home{{ extLinkMarkdown }}).

Note that you may need to rely on both the docs and the schema validation to successfully call the GraphQL API.
