# Interfaces
Interfaces serve as parent objects from which other objects can inherit.

For example, `Lockable` is an interface because both `Issue` and `MergeRequest` objects can be locked. An interface has its own list of named fields that are shared by implementing objects.
{{range .}}
## {{.Name}}
{{.Description}}

| Argument  | Type  | Description               | Deprecated      | Reason |
| --------- | --------- | ------------------ | ---------------- | ---------- |
{{range .Fields}}| `{{.Name}}` | {{$t := getType .Type}}[{{$t.Type}}]({{$t.Name}})| {{.Description}} | {{if .IsDeprecated}}Yes{{else}}No{{end}} | {{.DeprecationReason}} |
{{end}}{{end}}