# {{.Name}}
{{.Description}}{{range .Fields}}{{$theType := getType .Type}}
{{if .IsDeprecated}}`Deprecated`{{end}} **{{.Name}}** ({{range $index, $element := .Args}}{{if $index}}, {{end}}`{{$element.Name}}`: {{$t := getType $element.Type}}[{{$t.Type}}]({{$t.Name}}){{end}}) : [{{$theType.Type}}]({{$theType.Name}})
{{if .IsDeprecated}}*{{.DeprecationReason}}*{{end}}

{{.Description}}
| Argument  | Type               | Description      |
| --------- | ------------------ | ---------------- |
{{range .Args}}| `{{.Name}}` | {{$t := getType .Type}}[{{$t.Type}}]({{$t.Name}}) | {{.Description}} |
{{end}}{{end}}