# {{.Name}}

[About the GraphQL](../Home{{ extLinkMarkdown }}) > [Objects](./Home{{ extLinkMarkdown }}) > [{{.Name}}](./Home{{ extLinkMarkdown }})

{{if ne .Description ""}}
{{.Description}}{{end}}

{{with .Fields}}## Fields

| Field | Type | Description | Deprecated? | Deprecation Reason |
| ----- | ---- | ----------- | ----------- | ------------------ |
{{range .}}| {{.Name}} | [{{getTypeGraphql .Type}}]({{getTypeLinkMarkdown .Type}}) | {{.Description}} | {{if .IsDeprecated}}Yes{{else}}No{{end}} | {{.DeprecationReason}} |
{{end}}{{end}}
