# Input Objects

[About the GraphQL](../Home{{ extLinkMarkdown }}) > [Input Objects](./Home{{ extLinkMarkdown }})

[Input objects](https://graphql.org/learn/schema/#input-types) can be described as "composable objects" because they include a set of input fields that define the object.

{{range .}}
- [{{.Name}}](./{{.Name}}{{ extLinkMarkdown }}){{end}}
