# {{if .IsDeprecated}}<i><s>{{.Name}}</i></s>{{else}}{{.Name}}{{end}}

[About the GraphQL](../Home{{ extLinkMarkdown }}) > [Mutations](./Home{{ extLinkMarkdown }}) > [{{.Name}}](./Home{{ extLinkMarkdown }})

{{if ne .Description ""}}
{{.Description}}
{{end}}{{if .IsDeprecated}}
**Deprecation Reason**

{{.DeprecationReason}}{{end}}

**{{.Name}}**({{with .Args}}
{{range .}}<br />&nbsp;&nbsp;&nbsp;&nbsp;{{.Name}}: [{{getTypeGraphql .Type}}]({{getTypeLinkMarkdown .Type}}){{end}}
<br />{{end}}): [{{getTypeGraphql .Type}}]({{getTypeLinkMarkdown .Type}})

{{with .Args}}## Arguments

| Argument | Type | Description |
| -------- | ---- | ----------- |
{{range .}}| {{.Name}} | [{{getTypeGraphql .Type}}]({{getTypeLinkMarkdown .Type}}) | {{.Description}} |
{{end}}{{end}}
